<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/home/login.css">
    <script defer src="./js/home/register.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="login">
        <h2 class="nonactive"> sign in </h2>
        <h2 class="active"> sign up </h2>
        <form class="form">
            <div class="user_input">
                <span class="label">username</span>
                <input id="id" type="text" class="text" placeholder="아이디">
            </div>
            <div class="user_input">
                <span class="label">fullname</span>
                <input id="name" type="text" class="text" placeholder="이름">
            </div>
            <div class="user_input">
                <span class="label">password</span>
                <input id="psword" type="password" class="text" placeholder="비밀번호">
            </div>
            <div class="user_input">
                <span class="label">confirm password</span>
                <input id="confirm-psword" type="password" class="text" placeholder="비밀번호 확인">
            </div>

            <div class="check_input">
                <input type="checkbox" id="checkbox-1-1" class="custom-checkbox" />
                <label for="checkbox-1-1">Keep me Signed in</label>
            </div>

            <button type="button" class="signin">
                Sign Up
            </button>
            <p class="message">Already registered? <a href="/login">login</a></p>
        </form>

    </div>
</body>

</html>